body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:100px;
  width:960px;
  height:360px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:360px;
}
#u1 {
  position:absolute;
  left:2px;
  top:172px;
  width:956px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:300px;
  width:145px;
  height:130px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:130px;
}
#u3 {
  position:absolute;
  left:2px;
  top:57px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:217px;
  top:368px;
  width:213px;
  height:37px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:37px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:217px;
  top:409px;
  width:40px;
  height:19px;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:11px;
  top:485px;
  width:180px;
  height:40px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:11px;
  top:525px;
  width:180px;
  height:42px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
}
#u11 {
  position:absolute;
  left:2px;
  top:13px;
  width:176px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:10px;
  top:567px;
  width:180px;
  height:45px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:45px;
}
#u13 {
  position:absolute;
  left:2px;
  top:14px;
  width:176px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:30px;
  top:270px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15 {
  position:absolute;
  left:0px;
  top:1980px;
  width:960px;
  height:210px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:210px;
}
#u16 {
  position:absolute;
  left:2px;
  top:97px;
  width:956px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:668px;
  top:385px;
  width:100px;
  height:45px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u18 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:780px;
  top:385px;
  width:100px;
  height:45px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:890px;
  top:392px;
  width:40px;
  height:30px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:100px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:100px;
}
#u25 {
  position:absolute;
  left:2px;
  top:42px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:20px;
  top:14px;
  width:200px;
  height:70px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:70px;
}
#u27 {
  position:absolute;
  left:2px;
  top:27px;
  width:196px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:755px;
  top:40px;
  width:90px;
  height:43px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:43px;
}
#u29 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:850px;
  top:40px;
  width:90px;
  height:43px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:43px;
}
#u31 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:470px;
  top:56px;
  width:68px;
  height:1px;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:1px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:348px;
  top:56px;
  width:72px;
  height:1px;
  font-size:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:1px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:250px;
  top:56px;
  width:50px;
  height:1px;
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:1px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:0px;
  top:460px;
  width:960px;
  height:1732px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:1732px;
}
#u39 {
  position:absolute;
  left:2px;
  top:858px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:10px;
  top:612px;
  width:180px;
  height:42px;
  color:#FFFFFF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
}
#u41 {
  position:absolute;
  left:2px;
  top:13px;
  width:176px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:230px;
  top:485px;
  width:91px;
  height:19px;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:230px;
  top:506px;
  width:700px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:683px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:5px;
  width:700px;
  height:1px;
}
#u45 {
  position:absolute;
  left:42px;
  top:1008px;
  width:71px;
  height:19px;
  font-size:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:195px;
  top:1008px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:326px;
  top:1008px;
  width:59px;
  height:19px;
  font-size:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:465px;
  top:1008px;
  width:37px;
  height:19px;
  font-size:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:576px;
  top:1008px;
  width:78px;
  height:19px;
  font-size:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:19px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:706px;
  top:1008px;
  width:175px;
  height:19px;
  font-size:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:19px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:38px;
  top:961px;
  width:127px;
  height:19px;
  font-size:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:19px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:203px;
  top:1067px;
  width:19px;
  height:17px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:17px;
}
#u60 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:344px;
  top:1067px;
  width:19px;
  height:17px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:17px;
}
#u62 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:472px;
  top:1067px;
  width:19px;
  height:17px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:17px;
}
#u64 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:606px;
  top:1067px;
  width:19px;
  height:17px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:17px;
}
#u66 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:783px;
  top:1067px;
  width:19px;
  height:17px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:17px;
}
#u68 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:230px;
  top:526px;
  width:230px;
  height:144px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:144px;
}
#u70 {
  position:absolute;
  left:2px;
  top:64px;
  width:226px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:30px;
  top:692px;
  width:430px;
  height:218px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:218px;
}
#u72 {
  position:absolute;
  left:2px;
  top:101px;
  width:426px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:500px;
  top:692px;
  width:427px;
  height:218px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:218px;
}
#u74 {
  position:absolute;
  left:2px;
  top:101px;
  width:423px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:470px;
  top:526px;
  width:230px;
  height:144px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:144px;
}
#u76 {
  position:absolute;
  left:2px;
  top:64px;
  width:226px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:710px;
  top:526px;
  width:230px;
  height:144px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:144px;
}
#u78 {
  position:absolute;
  left:2px;
  top:64px;
  width:226px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:42px;
  top:1066px;
  width:85px;
  height:19px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:42px;
  top:1097px;
  width:85px;
  height:19px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:42px;
  top:1128px;
  width:85px;
  height:19px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:42px;
  top:1157px;
  width:85px;
  height:19px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:42px;
  top:1186px;
  width:85px;
  height:19px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:42px;
  top:1218px;
  width:85px;
  height:19px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:42px;
  top:1247px;
  width:85px;
  height:19px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:42px;
  top:1278px;
  width:85px;
  height:19px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:42px;
  top:1309px;
  width:85px;
  height:19px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:42px;
  top:1339px;
  width:85px;
  height:19px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:42px;
  top:1368px;
  width:85px;
  height:19px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:42px;
  top:1399px;
  width:85px;
  height:19px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:42px;
  top:1428px;
  width:85px;
  height:19px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:42px;
  top:1459px;
  width:85px;
  height:19px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:42px;
  top:1490px;
  width:85px;
  height:19px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:42px;
  top:1520px;
  width:85px;
  height:19px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:42px;
  top:1549px;
  width:85px;
  height:19px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:42px;
  top:1580px;
  width:85px;
  height:19px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:25px;
  top:1640px;
  width:89px;
  height:19px;
  font-size:16px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:19px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:25px;
  top:1661px;
  width:900px;
  height:10px;
}
#u117_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u117_end {
  position:absolute;
  left:883px;
  top:-5px;
  width:18px;
  height:20px;
}
#u117_line {
  position:absolute;
  left:0px;
  top:5px;
  width:900px;
  height:1px;
}
#u118 {
  position:absolute;
  left:25px;
  top:1692px;
  width:119px;
  height:19px;
  font-size:16px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:19px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:25px;
  top:1721px;
  width:127px;
  height:19px;
  font-size:16px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:19px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:585px;
  top:1683px;
  width:340px;
  height:60px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:60px;
}
#u123 {
  position:absolute;
  left:2px;
  top:22px;
  width:336px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:315px;
  top:1687px;
  width:180px;
  height:30px;
  color:#FFFFFF;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u125 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:25px;
  top:1803px;
  width:900px;
  height:150px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:150px;
}
#u127 {
  position:absolute;
  left:2px;
  top:67px;
  width:896px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:25px;
  top:1753px;
  width:202px;
  height:19px;
  font-size:16px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:19px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
