@import "animate"
@import "persona"
@import "vendor/bootstrap"

body
	overflow-x: hidden

.startHidden.ng-hide-add
	@extend .animated
	@extend .slideOutUp
	opacity: 0

.startHidden.ng-hide-add.ng-hide-add-active 
	opacity: 0

.startHidden.ng-hide-remove
	-webkit-transition: 0.5s linear all
	-moz-transition: 0.5s linear all
	-o-transition: 0.5s linear all
	transition: 0.5s linear all
	display: block !important
	opacity: 0

.startHidden,
.startHidden.ng-hide-remove.ng-hide-remove-active
	opacity: 1

.startHidden.ng-show
	@extend .animated
	@extend .fadeInDown
	-webkit-animation-duration: 0.2s
	-moz-animation-duration: 0.2s
	-webkit-animation-delay: 0
	-moz-animation-delay: 0

.startHidden.ng-hide
	@extend .animated
	@extend .slideOutUp

div.control
	@extend .col-lg-8

div.control.half
	@extend .col-lg-4

div.control.tiny
	@extend .col-lg-2

div.form-group>label
	@extend .col-lg-4
	@extend .control-label

div.form-group.has-error>label
	color: #b94a48 !important

div.form-group.has-error .btn-group .btn
	border-color: #b94a48 !important

form.ng-submitted .form-control.ng-invalid
	border-color: #b94a48 !important

.control input.third, .control select.third
	display: inline-block
	box-sizing: border-box !important
	width: 32.80%
	margin: 0.05%

.form-group.actions 
	box-sizing: border-box
	margin-top: 5em
	background-color: #eee
	padding: 3em
	border-radius: 0.4em
	.btn-group
		@extend .col-lg-10
		@extend .col-lg-offset-4

.form-control.inline
	display: inline-block
	width: auto

.input-group.small
	max-width: 33%

.persona-button, .persona-button:hover
	color: #ffffff !important

.navbar
	border-radius: 0
	margin-top: 1em

.navbar .persona-button
	margin-top: 1.4em

.jumbotron .persona-button
	padding: 4px

.jumbotron p
	font-size: 0.8em

.nobull
	// padding: 0
	// list-style: none

.navbar .logo
	max-height: 2em
	margin-right: 0.5em

legend.smaller
	font-size: 1.25em !important
	font-weight: 750
	border-bottom: 0