<div class="container">
	<ol class="breadcrumb">
		<li>
			<a href="#/admin">Admin</a>
		</li>
		<li>
			<a href="#/admin/list?clients=true" ng-show="clients">Clients</a>
			<a href="#/admin/list" ng-show="!clients">Prospects</a>
		</li>
		<li class="active">
			<span ng-show="clients">Client Profile</span>
			<span ng-show="!clients">Prospect Profile</span>
		</li>
	</ol>
	<div class="pull-right btn-group">
		<div class="btn btn-default" ng-click="changeMode('summary')" ng-class="{'active': mode == null || mode == 'summary'}">Summary</div>
		<div class="btn btn-default" ng-click="changeMode('fafsa')" ng-class="{'active': mode == 'fafsa'}">FAFSA</div>
		<div class="btn btn-default" ng-click="changeMode('css')" ng-class="{'active': mode == 'css'}">CSS</div>
		<div class="btn btn-default" ng-click="triggerDownload()">
			<i class="icon-download"></i>
			 CSV
		</div>
		<div class="btn btn-success graybutton" ng-click="setClient()" ng-disabled="clients == true">
			<i class="icon-check"></i>
			Mark as Client
		</div>
		
		
		<div class="btn-group">
		    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		    	<i class="icon-envelope"></i>
		      Email User
		      <span class="caret"></span>
		    </button>
		    <ul class="dropdown-menu" role="menu">

				<li ng-repeat="newsletter in newsletters">
					<a ng-click="previewNewsletter(newsletter)" style="text-align:left">{{newsletter.templateName}}</a>
				</li>
				
			</ul>
		  </div>
		<!-- <div class="btn btn-default" ng-click="notifyUser()">
			<i class="icon-envelope"></i>
			Send Additional Information Email
		</div> -->
	</div>
	<div class="pull-right btn-group" style="margin-right: 10px">
		<div class="btn btn-primary" ng-click="changeMode('edit')" ng-class="{'active': mode == 'edit'}">
			<i class="icon-pencil"></i>
		Edit</div>
	</div>
	<legend>{{type()}} for {{student.name.first}} {{student.name.last}}</legend>
	<div ng-include="partial()">
		
	</div>
</div>