<div class="container">
	<ol class="breadcrumb">
		<li>
			<a href="#/admin">Admin</a>
		</li>
		<li class="active">
			Drafts
		</li>
	</ol>
	<legend>Drafts</legend>
	<table class="table-striped table">
		<thead>
			<tr>
				<th ng-click="changeSort('user.name.last')" ng-dblclick="clearSort('user.name.last')">User Last
					<div class="sort">
						<i ng-class="sortClass('user.name.last')"></i>
					</div>
				</th>
				<th ng-click="changeSort('user.name.first')" ng-dblclick="clearSort('user.name.first')">
					User First
					<div class="sort">
						<i ng-class="sortClass('user.name.first')"></i>
					</div>
				</th>
				<th>Role</th>
				<th ng-click="changeSort('name.last')" ng-dblclick="clearSort('name.last')">
					Student Last
					<div class="sort">
						<i ng-class="sortClass('name.last')"></i>
					</div>
				</th>
				<th ng-click="changeSort('name.first')" ng-dblclick="clearSort('name.last')">
					Student First
					<div class="sort">
						<i ng-class="sortClass('name.first')"></i>
					</div>
				</th>
				<th ng-click="changeSort('hsGrad')" ng-dblclick="clearSort('hsGrad')">
					HS Grad Yr
					<div class="sort">
						<i ng-class="sortClass('hsGrad')"></i>
					</div>
				</th>
				<th>
					Profile School(s)
				</th>
				<th ng-click="changeSort('created_at')" ng-dblclick="clearSort('created_at')">
					Created
					<div class="sort">
						<i ng-class="sortClass('created_at')"></i>
					</div>
				</th>
				<th ng-click="changeSort('updated_at')" ng-dblclick="clearSort('updated_at')">
					Updated
					<div class="sort">
						<i ng-class="sortClass('updated_at')"></i>
					</div>
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="profile in profiles" ng-dblclick="viewDraft(profile)">
				<td>
					{{profile.user.name.last}}
				</td>
				<td>
					{{profile.user.name.first}}
				</td>
				<td>
					{{profile.user.role}}
				</td>
				<td>
					 {{profile.name.last}}
				</td>
				<td>
					{{profile.name.first}}
				</td>
				<td>
					{{profile.hsGrad}}
				</td>
				<td>
					<i ng-class="{'icon-question-sign': (profile.has_profile_school === null), 'icon-ok-circle': (profile.has_profile_school === true), 'icon-ban-circle': (profile.has_profile_school === false)}"></i>
				</td>
				<td>
					{{profile.created | date}}
				</td>
				<td>
					{{profile.updated | date}}
				</td>
				<td>
					<button class="btn btn-default" ng-click="viewDraft(profile)">
						<i class="icon-eye-open"></i>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
	<pagination total-items="pagination.totalItems" page="page" items-per-page="pagination.displayItems" on-select-page="newPage(page)"></pagination>
</div>