<div class="container">
	
	<ol class="breadcrumb">
		
		<li>
			<a href="#admin/users">Users</a>
			 
		</li>
		<li class="active">
			 Admin - Users   
		</li>
		<span class="admin-search">Search - <input type="text" ng-model="query.$"></span>
	</ol>
	
	<table class="table-striped table">
		<thead>
			<tr>
				<th ng-click="changeSort('name.first')" ng-dblclick="clearSort('name.first')">
					First Name
					<div class="sort">
						<i ng-class="sortClass('name.first')"></i>
					</div>
				</th>	
				<th ng-click="changeSort('name.last')" ng-dblclick="clearSort('name.last')">
					Last Name
					<div class="sort">
						<i ng-class="sortClass('name.last')"></i>
					</div>
				</th>
				<th>Email Address</th>
				<th>Role</th>
				<th>Drafts</th>
				<th>Profiles</th>
				<th ng-click="changeSort('created_at')" ng-dblclick="clearSort('created_at')">
					Created
					<div class="sort">
						<i ng-class="sortClass('created_at')"></i>
					</div>
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users | filter:query" ng-dblclick="viewUser(user)">
				<td>
					{{user.name.first}}
				</td>
				<td>
					{{user.name.last}}
				</td>
				<td>
					{{user.email}}
				</td>
				<td>
					{{user.role}}
				</td>
				<td>
					{{user.drafts.length}}
				</td>
				<td>
					{{user.profiles.length}}
				</td>
				<td>
					{{user.created | date}}
				</td>
				<td>
					<button class="btn btn-default btn-eye" ng-click="viewUser(user)">
						<i class="icon-eye-open"></i>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
	<pagination total-items="pagination.totalItems" page="page" items-per-page="pagination.displayItems" on-select-page="newPage(page)"></pagination>
</div>