<div class="row">
	<div class="col-lg-12">
		<table class="table table-striped">
			<th colspan="2">
				Credentials
			</th>
			<tr>
				<th>Student FAFSA PIN</th>
				<td style="width: 50%">
					<span ng-show="student.stronghold.student.fafsaPIN && credentials.studentFAFSA == false" ng-click="credentials.studentFAFSA = true">
						<i class="icon-lock" ></i>
						Click to Show
					</span>
					<span ng-show="student.stronghold.student.fafsaPIN  && credentials.studentFAFSA == true" ng-click="credentials.studentFAFSA = false">
						<i class="icon-unlock"></i>
						<span ng-bind="student.stronghold.student.fafsaPIN"></span>
					</span>
				</td>
			</tr>
			<tr>
				<th>Parent FAFSA PIN</th>
				<td>
					<span ng-show="student.stronghold.parent.fafsaPIN && credentials.parentFAFSA == false" ng-click="credentials.parentFAFSA = true">
						<i class="icon-lock" ></i>
						Click to Show
					</span>
					<span ng-show="student.stronghold.parent.fafsaPIN  && credentials.parentFAFSA == true" ng-click="credentials.parentFAFSA = false">
						<i class="icon-unlock"></i>
						<span ng-bind="student.stronghold.parent.fafsaPIN"></span>
					</span>
				</td>
			</tr>
			<tr>
				<th colspan="2">
					<br>
				</th>
			</tr>
			<tr>
				<th>Student Last Name</th>
				<td>{{student.name.last}}</td>
			</tr>
			<tr>
				<th>Student First Name</th>
				<td>{{student.name.first}}</td>
			</tr>
			<tr>
				<th>Student Middle Initial</th>
				<td>{{student.name.middle[0]}}</td>
			</tr>
			<tr>
				<th>Student Mailing Address</th>
				<td>
					{{student.address.line1}}
					<br ng-hide="student.address.line2 == undefined">
					{{student.address.line2}}
				</td>
			</tr>
			<tr>
				<th>Student City</th>
				<td>{{student.address.city}}</td>
			</tr>
			<tr>
				<th>Student State</th>
				<td>{{student.address.state}}</td>
			</tr>
			<tr>
				<th>Student Zipcode</th>
				<td>{{student.address.zipcode}}</td>
			</tr>
			<tr>
				<th>Student Social Security Number</th>
				<td>{{student.ssn | ssn}}</td>
			</tr>
			<tr>
				<th>Student Date of Birth</th>
				<td>{{student.dob | dob}}</td>
			</tr>
			<tr>
				<th>Student Driver's License Number</th>
				<td>{{student.license.number}}</td>
			</tr>
			<tr>
				<th>Student Driver's License State</th>
				<td>{{student.license.state}}</td>
			</tr>
			<tr>
				<th>Student Email Address</th>
				<td>{{student.email}}</td>
			</tr>
			<tr>
				<th>Student Citizenship Status</th>
				<td>
					<span ng-cloak ng-show="student.citizen">U.S. Citizen</span>
					<span ng-cloak ng-show="!student.citizen"><strong>NOT</strong> U.S. Citizen</span>
				</td>
			</tr>
			<tr>
				<th>Student Alien Registration Number</th>
				<td>
					{{student.arn}}
				</td>
			</tr>
			<tr>
				<th>Student Marital Status</th>
				<td>
					<span ng-cloak ng-show="student.married">Married</span>
					<span ng-cloak ng-show="!student.married">Single</span>
				</td>
			</tr>
			<tr>
				<th>Student Marital Status Date</th>
				<td>
					<span ng-cloak ng-show="student.married">{{student.dom}}</span>
				</td>
			</tr>
			<tr>
				<th>Student State of Residence</th>
				<td>
					{{student.address.state}}
				</td>
			</tr>
			<tr>
				<th>Student Legal Resident Date</th>
				<td>
					{{student.state.residency | dob}}
				</td>
			</tr>
			<tr>
				<th>Student Gender</th>
				<td>
					{{student.gender | gender}}
				</td>
			</tr>
			<tr>
				<th>Student Registered with Selective Service?</th>
				<td>
					<span ng-cloak ng-show="student.gender == 'M' && student.sss">Registered</span>
					<span ng-cloak ng-show="student.gender == 'F'">Not Applicable</span>
				</td>
			</tr>
			<tr>
				<th>Student Drug Conviction Affecting Eligibility?</th>
				<td>
					<span ng-cloak ng-show="student.drugConviction">Convicted</span>
					<span ng-cloak ng-show="!student.drugConviction">No Drug Conviction</span>
				</td>
			</tr>
			<tr>
				<th>Father's Education Level</th>
				<td>
					<span ng-cloak ng-show="student.parents.father.education == '0'">High School</span>
					<span ng-cloak ng-show="student.parents.father.education == '1'">College</span>
					<span ng-cloak ng-show="student.parents.father.education == '2'">College &amp; Beyond</span>
				</td>
			</tr>
			<tr>
				<th>Mother's Education Level</th>
				<td>
					<span ng-cloak ng-show="student.parents.mother.education == '0'">High School</span>
					<span ng-cloak ng-show="student.parents.mother.education == '1'">College</span>
					<span ng-cloak ng-show="student.parents.mother.education == '2'">College &amp; Beyond</span>
				</td>
			</tr>
			<tr>
				<th>High School or Equivalent Completed?</th>
				<td></td>
			</tr>
			<tr>
				<th>Student High School Name</th>
				<td></td>
			</tr>
			<tr>
				<th>Student High School City</th>
				<td></td>
			</tr>
			<tr>
				<th>Student High School State</th>
				<td></td>
			</tr>
			<tr>
				<th>Type of Degree/Certificate</th>
				<td></td>
			</tr>
			<tr>
				<th>First Bachelor's Degree by July 1, 2015?</th>
				<td></td>
			</tr>
			<tr>
				<th>Student Grade Level 2014-2015</th>
				<td></td>
			</tr>
			<tr>
				<th>Interested in Work-study?</th>
				<td></td>
			</tr>
			<tr>
				<th>Student Filed 2014 Income Tax Return</th>
				<td>
					{{student.income.taxFiling}}
				</td>
			</tr>
			<tr>
				<th>Type of 2014 Tax Form Used</th>
				<td></td>
			</tr>
			<tr>
				<th>Student Eligible to File 1040A or 1040EZ?</th>
				<td></td>
			</tr>
			<tr>
				<th>Students 2014 Adjusted Income</th>
				<td>${{student.income.agi}}</td>
			</tr>
			<tr>
				<th>Student 2014 Income Tax Paid</th>
				<td>${{student.income.taxPaid}}</td>
			</tr>
			<tr>
				<th>Student 2014 Exemptions Claimed</th>
				<td></td>
			</tr>
			<tr>
				<th>Student's 2014 Income Earned</th>
				<td>${{student.income.earnedIncome}}</td>
			</tr>
			<tr>
				<th>Spouse's 2014 Income Earned</th>
				<td></td>
			</tr>
			<tr>
				<th>Student's Total of Cash, Savings, and Checking Accounts</th>
				<td>
					<a class="btn btn-default" ng-click="showStudentAssets()">Show Student Assets</a>
				</td>
			</tr>
			<tr>
				<th>Student's Net Worth of Current Investments</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Student's Net Worth of Businesses/Investment Farms</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Student's Education Credits</th>
				<td>
					

				</td>
			</tr>
			<tr>
				<th>Student's Child Support Paid</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Student's Taxable Earnings from Need-Based Employment Programs</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Student's Grand and Scholarship Aid Reported in AGI</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Student's Taxable Combat Pay Reported in AGI</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Student's Cooperative Education Earnings</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Student's Payment to Tax-Deferred Pensions & Savings</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Student's Deductible Payments Payments to IRA/Keogh/Other</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Student's Child Support Received</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Student's Tax Exempt Interest Income</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Student's Untaxed Portions of IRA Distributions</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Student's Untaxed Portions of Pensions</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Student's Housing, Food, & Living Allowances</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Student's Veterans Noneducation Benefits</th>
				<td></td>
			</tr>
			<tr>
				<th>Student's Other Untaxed Income or Benefits</th>
				<td>
				</td>
			</tr>
			<tr>
				<th>Money Received or Paid on Student's Behalf</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Student Born Before January 1, 1990</th>
				<td>
					{{student.dob | dob}}
				</td>
			</tr>
			<tr>
				<th>Is Student Married?</th>
				<td>
					<span ng-show="student.married === true">YES</span>
					<span ng-show="student.married === false">NO</span>
				</td>
			</tr>
			<tr>
				<th>Working on Master's or Doctorate in 2014-2015?</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Is Student on Active Duty in U.S. Armed Forces?</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Is Student a Veteran?</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Does Student have children he/she supports?</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Does Student have dependents other than children/spouse?</th>
				<td>
					Total Dependents: {{student.dependents}}
				</td>
			</tr>
			<tr>
				<th>Parents Deceased? Student Ward of Court? In Foster Care?</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Is Student an Emancipated Minor?</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Is or was Student in Legal Guardianship?</th>
				<td>
					<span ng-show="student.livingArrangement === 'Guardian'">YES</span>
					<span ng-show="student.livingArrangement !== 'Guardian'">NO</span>
				</td>
			</tr>
			<tr>
				<th>Student is Unaccompanied Homeless Youth?</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Student at risk of homelessness?</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Parents' Marital Status</th>
				<td>
					{{student.parents.marital | marital}}
				</td>
			</tr>
			<tr>
				<th>Parents' Marital Date</th>
				<td>
					{{student.parents.dom | dob}}
				</td>
			</tr>
			<tr>
				<th>Father/Stepfather's Social Security Number</th>
				<td>
					{{student.stronghold.father.ssn | ssn}}
				</td>
			</tr>
			<tr>
				<th>Father/Stepfather's Last Name</th>
				<td>
					{{student.parents.father.name.last}}
				</td>
			</tr>
			<tr>
				<th>Father/Stepfather's First Name</th>
				<td>
					{{student.parents.father.name.first}}
				</td>
			</tr>
			<tr>
				<th>Father/Stepfather's Date of Birth</th>
				<td>
					{{student.parents.father.dob | dob}}
				</td>
			</tr>
			<tr>
				<th>Mother/Stepmother's Social Security Number</th>
				<td>
					{{student.stronghold.mother.ssn | ssn}}
				</td>
			</tr>
			<tr>
				<th>Mother/Stepmother's Last Name</th>
				<td>
					{{student.parents.mother.name.last}}
				</td>
			</tr>
			<tr>
				<th>Mother/Stepmother's First Name</th>
				<td>
					{{student.parents.mother.name.first}}
				</td>
			</tr>
			<tr>
				<th>Mother/Stepmother's Date of Birth</th>
				<td>
					{{student.parents.mother.dob | dob}}
				</td>
			</tr>
			<tr>
				<th>Parents' Email Address</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Parents' State of Legal Residence</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Were Parents legal residents before Jan. 1, 2008?</th>
				<td>
					{{student.parents.residency | dob}}
				</td>
			</tr>
			<tr>
				<th>Parents Legal Residence date</th>
				<td>
					{{student.parents.residency | dob}}
				</td>
			</tr>
			<tr>
				<th>Parents' Number of Family Members in 2014-2015?</th>
				<td>
					{{student.household.size}}
				</td>
			</tr>
			<tr>
				<th>Number in College (Parents Excluded)</th>
				<td>
					{{student.household.collegeAttendees}}
				</td>
			</tr>
			<tr>
				<th>Parents Received Supplemental Security Income?</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Parents Received SNAP?</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Parents received free/reduced price lunch?</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Parents received TANF?</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Parents received WIC?</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Parents Filed 2014 Income Tax Return?</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Type of Tax Form Used</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Parents eligible to file a 1040A or 1040EZ?</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Is Parent a dislocated worker?</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Parents' Adjusted Gross Income</th>
				<td>
					{{student.parents.income.combined.agi | currency}}
				</td>
			</tr>
			<tr>
				<th>Parents' Income Tax Paid</th>
				<td>
					{{student.parents.income.combined.taxPaid | currency}}
				</td>
			</tr>
			<tr>
				<th>Parents' Exemptions Claimed</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Father/Stepfather's Earned Income</th>
				<td>
					{{student.parents.income.father.earnedIncome | currency}}
				</td>
			</tr>
			<tr>
				<th>Mother/Stepmother's Earned Income</th>
				<td>
					{{student.parents.income.mother.earnedIncome | currency}}
				</td>
			</tr>
			<tr>
				<th>Parents' Total of Cash, Savings, and Checking</th>
				<td>
					<button class="btn btn-default" ng-click="showParentAssets()">View Assets</button>
				</td>
			</tr>
			<tr>
				<th>Parents' Net Worth of current investments</th>
				<td>
					<button class="btn btn-default" ng-click="showParentAssets()">View Assets</button>
				</td>
			</tr>
			<tr>
				<th>Parents' Net Worth of Businesses/Investment Farms</th>
				<td>
					<button class="btn btn-default" ng-click="showParentAssets()">View Assets</button>
				</td>
			</tr>
			<tr>
				<th>Parents' Education Credits</th>
				<td>	
				</td>
			</tr>
			<tr>
				<th>Parents' Child Support Paid</th>
				<td>
					{{student.parents.income.combined.childSupport.paid | currency}}
				</td>
			</tr>
			<tr>
				<th>Parents' taxable earnings from need-based employment programs</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Parents' Grand and Scholarship Aid Reported in AGI</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Parents' Taxable Combat Pay Reported in AGI</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Parents' Cooperative Education Earnings</th>
				<td>
					
				</td>
			</tr>
			<tr>
				<th>Parents' Payments to Tax Deferred Pensions & Savings</th>
				<td>
					<button class="btn btn-default" ng-click="showRetirementAssets()">View Retirement Assets</button>
				</td>
			</tr>
			<tr>
				<th>Parents' Deductible Payments to IRA/Keogh/Other</th>
				<td>
					<button class="btn btn-default" ng-click="showRetirementAssets()">View Retirement Assets</button>
				</td>
			</tr>
			<tr>
				<th>Parents' Child Support Received</th>
				<td>
					{{student.parents.income.combined.childSupport.received | currency}}
				</td>
			</tr>
			<tr>
				<th>Parents' Tax Exempt Interest Income</th>
				<td>
					
				</td>
			</tr>
		</table>
	</div>
</div>