/****************************************************************************************************
 * HTML Elements
 ****************************************************************************************************/
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    border-bottom: 1px solid #dedede;
    font-weight: 400;
    padding-bottom: 5px;
}

h1 {
    font-size: 30pt;
}

h2 {
    font-size: 24pt;
}

h3 {
    font-size: 16pt;
}

h4 {
    font-size: 12pt;
}

h5 {
    font-size: 6pt;
}

table {
    width: 100%;
}

blockquote {
    padding: 10px 20px;
    margin: 0px 0px 20px;
    border-left: 5px solid #EEE;
    font-size: 11pt;
}

/****************************************************************************************************
 * Classes and IDs
 ****************************************************************************************************/

#header {
    background: #f6f6f6;
    border: 1px solid #e1e1e1;
    width: 1150px;
    margin: auto;
    clear: both;
    text-align: left;
}

#header .logo {
    font-size: 18px;
    height: 68px;
}

#header .logo img {
    float: left;
    clear: left;
    height: 38px;
    margin: 15px 0px;
    padding-left: 15px;
}

#header .logo a:hover {
    color: #5E5E5E;
}

#header .logo a {
    color: #777;
    text-decoration: none;
    line-height: 68px;
    padding-left: 15px;
}

.clearing {
    clear: both;
    height: 1px;
}

.button {
    color: #FFFFFF;
    background-color: #428BCA;
    border-color: #357E8D;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
}

.button:hover {
    color: #FFF;
    background-color: #3276B1;
    border-color: #285E8E;
}

#container {
    clear: both;
    margin: auto;
    text-align: left;
    width: 1150px;
}

td.label {
    width: 33%;
    text-align: right;
    padding: 15px 0px;
}

td.label label {
    font-size: 11pt;
    font-weight: bold;
    padding-right: 15px;
}

td.control {
    width: 67%;
    padding-left: 5px;
}

.help {
    display: block;
    color: #737373;
    font-size: 11pt;
    padding: 5px;
}

.form-actions {
    box-sizing: border-box;
    margin-top: 30px;
    background-color: #EEE;
    padding: 3em;
    padding-left: 33%;
    border-radius: 0.4em;
}

.form-actions .button {
    padding: 6px 40px;
}

/****************************************************************************************************
 * FORM CONTROLS
 ****************************************************************************************************/

td.control input, td.control select {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

td.control input:focus, td.control select:focus  {
    border-color: #66AFE9;
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}

td.control input.third, td.control select.third {
    display: inline-block;
    box-sizing: border-box !important;
    width: 32.8%;
    margin: 0.05%;
}

td.control input.half, td.control select.half {
    display: inline-block;
    box-sizing: border-box !important;
    width: 50%;
}

.invalid {
    border-color: #B94A48 !important;
    color: #B94A48;
}