#dashboard {
    clear: both;
}

#dashboard .container {
    width: 1000px;
    clear: both;
    margin: 60px auto;
}

#dashboard .container .panel {
    float: left;
    width: 48%;
    text-align: left;
    padding: 0px 10px;
}

#dashboard .container .panel h3 {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    border: none;
}

#dashboard .container .panel p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 200;
}