<div class="modal-dialog" style="width:750px">
	<div class="modal-content">
		
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
		<h4 class="modal-title">Template Preview</h4>
	  </div>
	  <div class="modal-body" style="min-height:300px">

	  	<form role="form">
		  <div class="form-group">
		    <label for="exampleInputEmail1">Email Subject</label><br/>
			    <input type="text" ng-model="newsletter.templateSubject"  class="form-control" required>
		  </div>
		  <div class="form-group">
		    <label for="exampleInputEmail1">Email Body</label><br/>
			   
			   <textarea ng-model="newsletter.templateBody"  rows="20"  class="form-control ck-editor" required></textarea>
		  </div>
		  
		  
		  <button type="submit" class="btn btn-default" ng-click="submit()">Send</button>
		  <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Close</button>
		</form>

	  	
	  </div>
	  <div class="modal-footer">
	  	
	  </div>
	 
	</div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->