<div class="modal-dialog" style="width:1100px" id="template_preview">
	<div class="modal-content">
		
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
		<h4 class="modal-title">Email Template Preview</h4>
	  </div>
	  <div class="modal-body" style="min-height:920px">
	  	<div class="template_code">
{StudentFName}<br />
{Student F Name }<br />
{StudentLName}<br />
{ParentFName}<br />
{ParentLName}<br />
{CaseID}<br />
{Address}<br />
{City}<br />
{State}<br />
{Zip}<br />
{ApptDate}<br />
{ApptLocation}<br />
{ApptGoToMeetingID}<br />
{Password}<br />
{EmailAddress}<br />
{HighSchool}<br />
{GradYear}<br />
{DataformLink}<br />
{LearningStyleLink}<br />
{WebinarDate}<br />
{WebinarName}<br />
{WebinarGoToMeetingID}<br />
{HomePhone}<br />
{WorkPhone1}<br />
{WorkPhone2}<br />
{BackEndScheduleLink}<br />
</div>
<div class="template_form">
	  	<form role="form" class="form-horizontal">

	  		
			  <div class="form-group">
					<label>Email Subject</label>
					<div class="control">
						<input type="text" class="form-control" ng-model="newsletter.templateSubject" required>
					</div>
				</div>

				<div class="form-group">
					<label>Email To</label>
					<div class="control">
					    <select class="form-control inline" ng-model="newsletter.emailTo" ng-init="newsletter.emailTo = student.email">
						
							<option value="{{student.email}}" selected>{{student.name.first}} {{student.name.last}}({{student.email}})</option>
							<option value="{{student.parents.father.email}}" ng-if="student.parents.marital > 3 || student.livingArrangement == 'Father'">{{student.parents.father.name.first}}  {{student.parents.father.name.last}}({{student.parents.father.email}})</option>
							<option value="{{student.parents.mother.email}}" ng-if="student.parents.marital > 3 || student.livingArrangement == 'Mother'">{{student.parents.mother.name.first}} {{student.parents.mother.name.last}}({{student.parents.mother.email}})</option>
							<option value="{{student.guardian.email}}" ng-if="student.parents.marital < 4 && (student.livingArrangement && student.livingArrangement == 'Guardian')">{{student.guardian.name.first}} {{student.guardian.name.last}}({{student.guardian.email}})</option>
					    </select>
					</div>
				</div>

				<div class="form-group">
					<label>Send Test Email To Admin</label>
					<div class="control">
						<input type="checkbox" ng-model="newsletter.testEmail" ng-value="false">
					</div>
				</div>

			  
			  <div class="form-group">
				<label>Email Body</label>
				<div class="control">
					<textarea ng-model="newsletter.templateBody"  rows="20"  class="form-control ck-editor" required></textarea>
					
				</div>
			</div>
			<div class="form-group actions">
				<div class="btn-group">
					<button type="submit" class="btn btn-default" ng-click="submit()">Email User</button>
		            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Close</button>
					
				</div>
			</div>


		</form>
</div>
	  	
	  </div>
	  
	</div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->