/*
#crsWrapper
{
	width: 800px;
	height: 100%;
	min-height: 100%;
	position: relative;
}
*/
/*
#crsHeader
{
	width: 800px;	
	font-family: Calibri, Arial;
	font-size: 12pt;
	color: #FFFFFF;
	text-align: center;
	position: relative;
}
*/
#crsContent
{
	width: 830px;
	background-color: #FFFFCA;
	color: #000000;
	text-align: left;
/*	margin-left: auto;
	margin-right: auto;
*/	margin: auto;
	/*padding: 10px;*/ /*******/
	/*padding-bottom: 20px;*/ /*******/
	/*position: relative;*/
	border-width: 10px;
	border-color: white;
	border-style: ridge;
}
/*
#crsFooter
{
	width: 100%;
	height: 20px;
	font-family: Calibri, Arial;
	font-size: 8pt;
	color: #000000;
	text-align: center;
	position: relative;
	bottom: 0;
	left: 0;
}
*/
body
{
	font-family: Calibri, Arial;
	font-size: 12pt;
	text-align: center;
	background-color: #000000;
	/*background-color: #337520;*/
	/*background-image: url("../commonImages/backgroundGreen.gif");
	background-repeat: repeat-x;
	background-attachment: fixed;*/
	/*height: 100%;
	margin: 0;
	padding: 0;*/
}

body.worksheet
{
	font-family: Calibri, Arial;
	font-size: 12pt;
	/*background-color: #FFFFFF;*/
	background-color: #FFFFCA;
}

select
{
	font-family: Calibri, Arial;
	font-size: 11pt;
}

select.multSelect
{
	font-family: Calibri, Arial;
	font-size: 11pt;
	width: 335px;
}

input
{
	font-family: Calibri, Arial;
	font-size: 12pt;
}

textarea
{
	font-family: Calibri, Arial;
	font-size: 12pt;
}

ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}

a.crsWhite
{
	color: white;
}

a.crsMediumBlue
{
	font-family: Calibri, Arial;
	font-size: 14pt;
	color: blue;
}

a.crsBlue
{
	font-family: Calibri, Arial;
	color: blue;
}

a.crsBlueBold
{
	font-family: Calibri, Arial;
	color: blue;
	font-weight: bold;
}

a.crsSmallBlue
{
	font-family: Calibri, Arial;
	font-size: 10pt;
	color: blue;
}

a.crsTinyBlue
{
	font-family: Calibri, Arial;
	font-size: 8pt;
	color: blue;
}

.crsButton
{
	color: #FFFFFF;
	/*font-weight: bold;*/
	font-family: Calibri, Arial;
	font-size: 12pt;
	border: 1px solid;
	border-color: #000000 #000000 #000000 #000000;
	/*filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#FFFFFF',EndColorStr='#0033CC');*/
	/*filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#FFFFFF',EndColorStr='#337520');*/
	/*background-color: #0033CC;*/
	background-color: #337520;
}

.crsButtonSmall
{
	color: #FFFFFF;
	font-family: Calibri, Arial;
	font-size: 10pt;
	border: 1px solid;
	border-color: #000000 #000000 #000000 #000000;
	/*filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#FFFFFF',EndColorStr='#0033CC');*/
	/*filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#FFFFFF',EndColorStr='#337520');*/
	/*background-color: #0033CC;*/
	background-color: #337520;
}

.crsCloseButton
{
	color: #FFFFFF;
	font-family: Arial;
	font-size: 12pt;
	border: 1px solid;
	border-color: #FFFFFF #FFFFFF #FFFFFF #FFFFFF;
	background-color: #000000;
}

.crsDAButton
{
	color: #FFFFFF;
	/*font-weight: bold;*/
	font-family: Calibri, Arial;
	font-size: 12pt;
	border: 1px solid;
	border-color: #000000 #000000 #000000 #000000;
	/*filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#FFFFFF',EndColorStr='#0033CC');*/
	/*filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#FFFFFF',EndColorStr='#337520');*/
	/*background-color: #0033CC;*/
	background-color: #0173AD;
}

.crsDAButtonSmall
{
	color: #FFFFFF;
	font-family: Calibri, Arial;
	font-size: 10pt;
	border: 1px solid;
	border-color: #000000 #000000 #000000 #000000;
	/*filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#FFFFFF',EndColorStr='#0033CC');*/
	/*filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#FFFFFF',EndColorStr='#337520');*/
	/*background-color: #0033CC;*/
	background-color: #0173AD;
}

.crsDASchoolButton
{
	font-weight: bold;
	font-size: 12pt;
	font-family: Calibri, Arial;
	color: #0173AD;
	background-color: transparent;
	border-style: none;
	text-align: left;
	cursor: pointer;
	display: none;
	width: 400px;
}

.crsTiny
{
	font-family: Calibri, Arial;
	font-size: 8pt;
	color: black;
}

.crsTinyBlue
{
	font-family: Calibri, Arial;
	font-size: 8pt;
	color: blue;
}

.crsSmall
{
	font-family: Calibri, Arial;
	font-size: 10pt;
	color: black;
}

.crsSmallWhite
{
	font-family: Calibri, Arial;
	font-size: 10pt;
	color: white;
}

.crsLarge
{
	font-family: Calibri, Arial;
	font-size: 20pt;
	color: black;
}

.crsLargeBold
{
	font-family: Calibri, Arial;
	font-size: 20pt;
	color: black;
	font-weight: bold;
}

.crsMedium
{
	font-family: Calibri, Arial;
	font-size: 14pt;
	color: black;
}

.crsLargeWhite
{
	font-family: Calibri, Arial;
	font-size: 20pt;
	color: white;
}

.crsHeaderWhite
{
	font-family: Calibri, Arial;
	font-size: 30pt;
	color: white;
}

.crsCollegeChoice
{
	font-family: Calibri, Arial;
	font-size: 12pt;
	color: black;
}

.collSelRepHeader
{
	/*background-color: #0055AA;*/
	background-color: #000000;
}

.collSelRepInfo
{
	/*background-color: #88AADD;*/
	/*background-color: #699858;*/
}

.transparent
{
	filter: alpha(opacity=75);
	-moz-opacity: .75;
	opacity: .75;
}

.tr1
{
	background-color: #FFFFFF;
}

.tr2
{
	background-color: #BBC4FD;
}

.tdDeadlineAlertMouseover
{
	font-family: Calibri, Arial;
	font-size: 12pt;
	border: solid 3px red;
}

.tdDeadlineAlertMouseout
{
	font-family: Calibri, Arial;
	font-size: 10pt;
}

.tdRedBorderOn
{
	border: solid 3px red;
}

.deadlineAlertSchool
{
	color: #0173AD;
	font-weight: bold;
}

.deadlineAlertLink
{
	font-family: Calibri, Arial;
	font-size: 10pt;
	color: #0173AD;
}

.invalid
{
	border: 1px solid red;
}