<div class="container">
	<ol class="breadcrumb">
		<li>
			<a href="#/admin">Admin</a>
		</li>
		<li>
			<a href="#/admin/templates">Templates</a>
		</li>
		
	</ol>
<div>
<form novalidate class="form-horizontal" ng-class="{'ng-submitted': submit == true}" ng-submit="submitTemplate();">
	<legend>Edit Template Information</legend>

	<div class="form-group">
		<label>Template Name</label>
		<div class="control">
			<input type="text" ng-model="template.templateName"  required class="form-control" required>
			
		</div>
	</div>
	<div class="form-group">
		<label>Template Subject</label>
		<div class="control">
			<input type="text" ng-model="template.templateSubject"  class="form-control" required>
		</div>
	</div>
        <div class="form-group" style="float:left; font-size:12px;">
&#123;&#123;StudentFName&#125;&#125;<br />
&#123;&#123; Student F Name &#125;&#125;<br />
&#123;&#123;StudentLName&#125;&#125;<br />
&#123;&#123;ParentFName&#125;&#125;<br />
&#123;&#123;ParentLName&#125;&#125;<br />
&#123;&#123;CaseID&#125;&#125;<br />
&#123;&#123;Address&#125;&#125;<br />
&#123;&#123;City&#125;&#125;<br />
&#123;&#123;State&#125;&#125;<br />
&#123;&#123;Zip&#125;&#125;<br />
&#123;&#123;ApptDate&#125;&#125;<br />
&#123;&#123;ApptLocation&#125;&#125;<br />
&#123;&#123;ApptGoToMeetingID&#125;&#125;<br />
&#123;&#123;Password&#125;&#125;<br />
&#123;&#123;EmailAddress&#125;&#125;<br />
&#123;&#123;HighSchool&#125;&#125;<br />
&#123;&#123;GradYear&#125;&#125;<br />
&#123;&#123;DataformLink&#125;&#125;<br />
&#123;&#123;LearningStyleLink&#125;&#125;<br />
&#123;&#123;WebinarDate&#125;&#125;<br />
&#123;&#123;WebinarName&#125;&#125;<br />
&#123;&#123;WebinarGoToMeetingID&#125;&#125;<br />
&#123;&#123;HomePhone&#125;&#125;<br />
&#123;&#123;WorkPhone1&#125;&#125;<br />
&#123;&#123;WorkPhone2&#125;&#125;<br />
&#123;&#123;BackEndScheduleLink&#125;&#125;<br />
</div> 
	<div class="form-group">
		<label>Template Body</label>
		<div class="control">
			<textarea ng-model="template.templateBody"  rows="20"  class="form-control ck-editor" required>  {{ template.templateBody }}</textarea>
			
		</div>
	</div>

	<div class="form-group actions">
		<div class="btn-group">
			<input type="submit" class="btn btn-primary" value="Submit">
			
		</div>
	</div>
   
</form>
</div>
</div>
