<div class="container">
	<ol class="breadcrumb">
		<li>
			<a href="#/admin">Admin</a>
		</li>
		<li>
			<a href="#/admin/templates">Templates</a>
		</li>
		
	</ol>
<div>
<form novalidate class="form-horizontal" ng-class="{'ng-submitted': submit == true}" ng-submit="submitTemplate();">
	<legend>Edit Template Information</legend>
	<div class="form-group">
		<label>Template Name</label>
		<div class="control">
			<input type="text" ng-model="template.templateName"  required class="form-control" required>
			
		</div>
	</div>
	<div class="form-group">
		<label>Template Subject</label>
		<div class="control">
			<input type="text" ng-model="template.templateSubject"  class="form-control" required>
		</div>
	</div>
	<div class="form-group">
		<label>Template Body</label>
		<div class="control">
			<textarea ng-model="template.templateBody" rows="20"  class="form-control" required> {{ template.templateBody }} </textarea>
			
		</div>
	</div>
	


	<div class="form-group actions">
		<div class="btn-group">
			<input type="submit" class="btn btn-primary" value="Submit">
			
		</div>
	</div>
</form>
</div>
</div>