<div class="container">
	<ol class="breadcrumb">
		<li>
			<a href="#/admin">Admin</a>
		</li>
		<li>
			<a href="#/admin/templates">Templates</a>
		</li>
		
	</ol>
</div>


<form novalidate class="form-horizontal" ng-class="{'ng-submitted': submit == true}" ng-submit="submitTemplate();">
	<legend>Edit Template Information</legend>
	<div  style="float:left; font-size:12px;text-align:right">
{StudentFName}<br />
{Student F Name }<br />
{StudentLName}<br />
{ParentFName}<br />
{ParentLName}<br />
{CaseID}<br />
{Address}<br />
{City}<br />
{State}<br />
{Zip}<br />
{ApptDate}<br />
{ApptLocation}<br />
{ApptGoToMeetingID}<br />
{Password}<br />
{EmailAddress}<br />
{HighSchool}<br />
{GradYear}<br />
{DataformLink}<br />
{LearningStyleLink}<br />
{WebinarDate}<br />
{WebinarName}<br />
{WebinarGoToMeetingID}<br />
{HomePhone}<br />
{WorkPhone1}<br />
{WorkPhone2}<br />
{BackEndScheduleLink}<br />
</div><div style="float:left">	
	<div class="form-group">
		<label>Template Name</label>
		<div class="control">
			<input type="text" ng-model="template.templateName"  required class="form-control" required>
			
		</div>
	</div>
	<div class="form-group">
		<label>Template Subject</label>
		<div class="control">
			<input type="text" ng-model="template.templateSubject"  class="form-control" required>
		</div>
	</div>
         
	<div class="form-group">
		<label>Template Body</label>
		<div class="control">
			<textarea ng-model="template.templateBody"  rows="20"  class="form-control ck-editor" required></textarea>
			
		</div>
	</div>

	<div class="form-group actions">
		<div class="btn-group">
			<input type="submit" class="btn btn-primary" value="Submit">
			
		</div>
	</div></div>
   
</form>
</div>
</div>
