body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:100px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:100px;
}
#u2 {
  position:absolute;
  left:2px;
  top:42px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:20px;
  top:14px;
  width:200px;
  height:70px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:70px;
}
#u4 {
  position:absolute;
  left:2px;
  top:27px;
  width:196px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:755px;
  top:40px;
  width:90px;
  height:43px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:43px;
}
#u6 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:850px;
  top:40px;
  width:90px;
  height:43px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:43px;
}
#u8 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:470px;
  top:56px;
  width:68px;
  height:1px;
  font-size:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:1px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:348px;
  top:56px;
  width:72px;
  height:1px;
  font-size:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:1px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:250px;
  top:56px;
  width:50px;
  height:1px;
  font-size:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:1px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:10px;
  top:126px;
  width:153px;
  height:34px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:34px;
}
#u16 {
  position:absolute;
  left:2px;
  top:9px;
  width:149px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:10px;
  top:163px;
  width:153px;
  height:34px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:34px;
}
#u18 {
  position:absolute;
  left:2px;
  top:9px;
  width:149px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:10px;
  top:200px;
  width:153px;
  height:34px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:34px;
}
#u20 {
  position:absolute;
  left:2px;
  top:9px;
  width:149px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:173px;
  top:126px;
  width:487px;
  height:180px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:180px;
}
#u22 {
  position:absolute;
  left:2px;
  top:82px;
  width:483px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:195px;
  top:202px;
  width:90px;
  height:87px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:87px;
}
#u24 {
  position:absolute;
  left:2px;
  top:36px;
  width:86px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:528px;
  top:167px;
  width:109px;
  height:23px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:23px;
}
#u26 {
  position:absolute;
  left:2px;
  top:4px;
  width:105px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:195px;
  top:138px;
  width:218px;
  height:28px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:28px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:195px;
  top:166px;
  width:46px;
  height:22px;
  font-size:18px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:22px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:313px;
  top:236px;
  width:100px;
  height:53px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:423px;
  top:236px;
  width:100px;
  height:53px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:533px;
  top:236px;
  width:100px;
  height:53px;
  font-size:11px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
}
#u36 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:173px;
  top:316px;
  width:487px;
  height:180px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:180px;
}
#u38 {
  position:absolute;
  left:2px;
  top:82px;
  width:483px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:195px;
  top:392px;
  width:90px;
  height:87px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:87px;
}
#u40 {
  position:absolute;
  left:2px;
  top:36px;
  width:86px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:528px;
  top:357px;
  width:109px;
  height:23px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:23px;
}
#u42 {
  position:absolute;
  left:2px;
  top:4px;
  width:105px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:195px;
  top:328px;
  width:218px;
  height:28px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:28px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:195px;
  top:356px;
  width:46px;
  height:22px;
  font-size:18px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:22px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:313px;
  top:426px;
  width:100px;
  height:53px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
}
#u48 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:423px;
  top:426px;
  width:100px;
  height:53px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
}
#u50 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:173px;
  top:506px;
  width:487px;
  height:180px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:180px;
}
#u52 {
  position:absolute;
  left:2px;
  top:82px;
  width:483px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:195px;
  top:582px;
  width:90px;
  height:87px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:87px;
}
#u54 {
  position:absolute;
  left:2px;
  top:36px;
  width:86px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:528px;
  top:547px;
  width:109px;
  height:23px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:23px;
}
#u56 {
  position:absolute;
  left:2px;
  top:4px;
  width:105px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:195px;
  top:518px;
  width:218px;
  height:28px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:28px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:195px;
  top:546px;
  width:46px;
  height:22px;
  font-size:18px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:22px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:313px;
  top:616px;
  width:100px;
  height:53px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
}
#u62 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:423px;
  top:616px;
  width:100px;
  height:53px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
}
#u64 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:173px;
  top:696px;
  width:487px;
  height:180px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:180px;
}
#u66 {
  position:absolute;
  left:2px;
  top:82px;
  width:483px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:195px;
  top:772px;
  width:90px;
  height:87px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:87px;
}
#u68 {
  position:absolute;
  left:2px;
  top:36px;
  width:86px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:528px;
  top:737px;
  width:109px;
  height:23px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:23px;
}
#u70 {
  position:absolute;
  left:2px;
  top:4px;
  width:105px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:195px;
  top:708px;
  width:218px;
  height:28px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:28px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:195px;
  top:736px;
  width:46px;
  height:22px;
  font-size:18px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:22px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:313px;
  top:806px;
  width:100px;
  height:53px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
}
#u76 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:423px;
  top:806px;
  width:100px;
  height:53px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
}
#u78 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:173px;
  top:886px;
  width:487px;
  height:180px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:180px;
}
#u80 {
  position:absolute;
  left:2px;
  top:82px;
  width:483px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:195px;
  top:962px;
  width:90px;
  height:87px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:87px;
}
#u82 {
  position:absolute;
  left:2px;
  top:36px;
  width:86px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:528px;
  top:927px;
  width:109px;
  height:23px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:23px;
}
#u84 {
  position:absolute;
  left:2px;
  top:4px;
  width:105px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:195px;
  top:898px;
  width:218px;
  height:28px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:28px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:195px;
  top:926px;
  width:46px;
  height:22px;
  font-size:18px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:22px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:313px;
  top:996px;
  width:100px;
  height:53px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
}
#u90 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:423px;
  top:996px;
  width:100px;
  height:53px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
}
#u92 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:670px;
  top:122px;
  width:290px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:40px;
}
#u94 {
  position:absolute;
  left:2px;
  top:12px;
  width:286px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:670px;
  top:172px;
  width:50px;
  height:50px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u96 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:730px;
  top:188px;
  width:103px;
  height:16px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:670px;
  top:232px;
  width:50px;
  height:50px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u100 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:730px;
  top:248px;
  width:103px;
  height:16px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:909px;
  top:184px;
  width:51px;
  height:25px;
  color:#FFFFFF;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
}
#u104 {
  position:absolute;
  left:2px;
  top:4px;
  width:47px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:909px;
  top:244px;
  width:51px;
  height:25px;
  color:#FFFFFF;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
}
#u106 {
  position:absolute;
  left:2px;
  top:4px;
  width:47px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:670px;
  top:292px;
  width:50px;
  height:50px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u108 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:730px;
  top:308px;
  width:103px;
  height:16px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:670px;
  top:352px;
  width:50px;
  height:50px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u112 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:730px;
  top:368px;
  width:103px;
  height:16px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:909px;
  top:304px;
  width:51px;
  height:25px;
  color:#FFFFFF;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
}
#u116 {
  position:absolute;
  left:2px;
  top:4px;
  width:47px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:909px;
  top:364px;
  width:51px;
  height:25px;
  color:#FFFFFF;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
}
#u118 {
  position:absolute;
  left:2px;
  top:4px;
  width:47px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:670px;
  top:426px;
  width:290px;
  height:174px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:174px;
}
#u120 {
  position:absolute;
  left:2px;
  top:79px;
  width:286px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:670px;
  top:616px;
  width:290px;
  height:174px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:174px;
}
#u122 {
  position:absolute;
  left:2px;
  top:79px;
  width:286px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:533px;
  top:426px;
  width:100px;
  height:53px;
  font-size:11px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
}
#u124 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:533px;
  top:616px;
  width:100px;
  height:53px;
  font-size:11px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
}
#u126 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:533px;
  top:806px;
  width:100px;
  height:53px;
  font-size:11px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
}
#u128 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:533px;
  top:996px;
  width:100px;
  height:53px;
  font-size:11px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
}
#u130 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:490px;
  top:1076px;
  width:50px;
  height:16px;
  text-decoration:underline;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u133 {
  position:absolute;
  left:632px;
  top:1076px;
  width:28px;
  height:16px;
  text-decoration:underline;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u135 {
  position:absolute;
  left:550px;
  top:1076px;
  width:8px;
  height:16px;
  text-decoration:underline;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u137 {
  position:absolute;
  left:572px;
  top:1076px;
  width:8px;
  height:16px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u139 {
  position:absolute;
  left:592px;
  top:1076px;
  width:8px;
  height:16px;
  text-decoration:underline;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u141 {
  position:absolute;
  left:612px;
  top:1076px;
  width:8px;
  height:16px;
  text-decoration:underline;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:0px;
  top:1140px;
  width:960px;
  height:210px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:210px;
}
#u144 {
  position:absolute;
  left:2px;
  top:97px;
  width:956px;
  word-wrap:break-word;
}
