<div class="container">
	<div class="row" ng-show="finished" ng-cloak>
		<div class="jumbotron">
			<div class="container">
				<h3>Thank You</h3>
				<p>Thank you for updating your profile to College & Retirement Solutions.  We'll contact you with any questions regarding information you've provided.  Should you have any questions, please call us at (973) 514-2002.</p>
			</div>
		</div>
	</div>
	<div class="row" ng-show="!finished">
		<div class="col-lg-12">
			<div class="page-header">
				<legend>Additional Questions</legend>
			<blockquote>
				In order to service your account, we need a few more details from you.  Please fill out the form below.
			</blockquote>

			<form novalidate class="form-horizontal" ng-class="{'ng-submitted': submit == true}" ng-submit="submitProfile();">
				<legend>Student Information</legend>
				<div class="form-group">
					<label>Social Security Number</label>
					<div class="control tiny">
						<input type="text" ng-model="student.stronghold.student.ssn" class="form-control" ui-mask="999-99-9999" required>
					</div>
				</div>
				<div class="form-group">
					<label>Do you have a Drivers License?</label>
					<div class="control small">
						<div class="btn-group">
								<button type="button" class="btn btn-default" ng-model="student.license.issued" btn-radio="true" required>Yes</button>
								<button type="button" class="btn btn-default" ng-model="student.license.issued" btn-radio="false" required>No</button>
						</div>
					</div>
				</div>
				<div ng-hide="!student.license.issued || student.license.issued === false">
					<div class="form-group">
						<label>Drivers License State</label>
						<div class="control tiny">
							<select ng-model="student.license.state" ng-options="state.abbreviation as state.name for state in states" class="form-control" ng-required="student.license.issued == true">
								<option value="" style="display: none" disabled selected>State</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label  class=" control-label">Drivers License Number</label>
						<div class="control tiny">
							<input type="text" ng-model="student.license.number" class="form-control" ng-required="student.license.issued == true">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label>Have you ever been convicted of a drug offense?</label>
					<div class="control">
						<div class="btn-group">
							<button type="button" class="btn btn-default" ng-model="student.drugConviction" btn-radio="true" required>Yes</button>
							<button type="button" class="btn btn-default" ng-model="student.drugConviction" btn-radio="false" required>No</button>
						</div>
					</div>
				</div>
				<div class="form-group" ng-show="student.married == true">
					<label>Social Security Number</label>
					<div class="control tiny">
						<input type="text" ng-model="student.stronghold.spouse.ssn" class="form-control" ui-mask="999-99-9999" ng-required="student.married">
					</div>
				</div>


				<div ng-show="student.parents.marital < 4 && (student.livingArrangement && student.livingArrangement == 'Guardian')">
					<legend>Guardian Information</legend>
					<div class="form-group">
						<label>Social Security Number</label>
						<div class="control tiny">
							<input type="text" class="form-control" ng-model="student.stronghold.guardian.ssn" ui-mask="999-99-9999" ng-required="student.parents.marital < 4 && student.livingArrangement == 'Guardian'">
						</div>
					</div>
				</div>

				<div ng-show="student.parents.marital > 3 || student.livingArrangement == 'Father'">
					<legend>Father's Information</legend>
					<div class="form-group">
						<label>Social Security Number</label>
						<div class="control tiny">
							<input type="text" class="form-control" ng-model="student.stronghold.father.ssn" ui-mask="999-99-9999" ng-required="student.parents.marital > 3 || student.livingArrangement == 'Father'">
						</div>
					</div>
				</div>

				<div ng-show="student.parents.marital > 3 || student.livingArrangement == 'Mother'">
					<legend>Mother's Information</legend>
					<div class="form-group">
						<label>Social Security Number</label>
						<div class="control tiny">
							<input type="text" class="form-control" ng-model="student.stronghold.mother.ssn" ui-mask="999-99-9999" ng-required="student.parents.marital > 3 || student.livingArrangement == 'Mother'">
						</div>
					</div>
				</div>

				<legend>Credentials</legend>
				<blockquote>
					<strong>Current Graduating High School Students & College Students Must Provide This Information!</strong><br><br>
					You will need to go to <a href="https://pin.ed.gov">https://pin.ed.gov</a> and apply for a PIN number for both the student and at least one custodial parent.  You will need (student and parent) social security numbers, name, address, phone number, e-mail address.  *Note: You will be prompted to pick a challenge question; please remember that this challenge question will be a question that both student and parent will need to know the answer to.  The answer is CASE SENSITIVE.
				</blockquote>
				<div class="form-group">
					<label>Parent FAFSA Pin</label>
					<div class="control tiny">
						<input type="text" class="form-control" ng-model="student.stronghold.parent.fafsaPIN" maxlength="4" ui-mask="9999">
					</div>
				</div>
				<div class="form-group">
					<label>Student FAFSA Pin</label>
					<div class="control tiny">
						<input type="text" class="form-control" ng-model="student.stronghold.student.fafsaPIN" maxlength="4" ui-mask="9999">
					</div>
				</div>
				<blockquote>
					The CSS Profile Username and CSS Profile Password are the same as the login used when the student registered for the SAT's.  If the student DID NOT take the SAT's and DOES NOT have an account one needs to be <a href="https://account.collegeboard.org/iamweb/smartRegister">created</a>.
				</blockquote>
				<div class="form-group">
					<label>CSS Profile Username</label>
					<div class="control tiny">
						<input type="text" class="form-control" ng-model="student.stronghold.student.css.username">
					</div>
				</div>
				<div class="form-group">
					<label>CSS Profile Password</label>
					<div class="control tiny">
						<input type="text" class="form-control" ng-model="student.stronghold.student.css.password">
					</div>
				</div>

				<div class="form-group actions">
					<div class="btn-group">
						<input type="submit" class="btn btn-primary" value="Validate & Submit">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>