<div class="container col-lg-12">
	<div class="jumbotron">
		<div class="container">
			<div class="col-lg-6">
				<div ng-show="getUser() === false">
					<h3>Create an Account hello222</h3>
					<p>To begin working with College & Retirement Solutions, you'll need an account first.</p>
					<a href="/#/register" class="btn btn-primary">
						Start Here
						<i class="icon-angle-right"></i>
					</a>
				</div>
				<div ng-show="getUser() !== false">
					<h3>Create a Profile</h3>
					<p>To begin creating a student profile, click the button below.</p>
					<a href="/#/profile" class="btn btn-primary">
						Start Here
						<i class="icon-angle-right"></i>
					</a>
				</div>

			</div>
			<div class="col-lg-6">
					<h3>Already Started?</h3>
					<div ng-show="getUser() === false">
						<p>Have you started filling out a profile?  Click sign in to review your drafts.</p>
						<a  class="persona-button dark" ng-click="login()">
							<span>Sign In</span>
						</a>
					</div>
					<p ng-show="drafts.length > 0">
						Welcome back!  You may continue one of the drafts below.

						<ul class="nobull">
							<li ng-repeat="draft in drafts">
								<a ng-href="#/drafts/{{draft._id}}">
									{{draft.created | date}} for {{draft.name.first}} {{draft.name.last}}
								</a>
								<button class="btn btn-default pull-right" ng-click="draftDelete(draft)">
									<i class="icon-remove"></i>
									Delete
								</button>
							</li>
						</ul>
					</p>
					<p ng-show="drafts.length == 0">
						You don't have any open drafts yet.
					</p>
			</div>
		</div>
	</div>
</div>

