<div class="container col-lg-12">
	<div class="jumbotron">
		<div class="container">
			<div class="col-lg-6">
				<div ng-show="getUser() === false">
					<h3>Create an Account Testing</h3>
					<p>To begin working with College & Retirement Solutions, you'll need an account first.</p>
					<a href="/#/register" class="btn btn-primary">
						Start Here
						<i class="icon-angle-right"></i>
					</a>
				</div>
				<div ng-show="getUser() !== false">
					<h3>Create a Profile</h3>
					<p>To begin creating a student profile, click the button below.</p>
					<a href="/#/profile" class="btn btn-primary">
						Start Here
						<i class="icon-angle-right"></i>
					</a>
				</div>

			</div>
			<div class="col-lg-6">
					<h3>Already Started?</h3>
					<div ng-show="getUser() === false">
						<p>Have you started filling out a profile?  Click sign in to review your drafts.</p>
						<a  class="persona-button dark" ng-click="login()">
							<span>Sign In</span>
						</a>
					</div>
					<p ng-show="drafts.length > 0">
						Welcome back!  You may continue one of the drafts below.

						<ul class="nobull">
							<li ng-repeat="draft in drafts">
								<a ng-href="#/drafts/{{draft._id}}">
									{{draft.created | date}} for {{draft.name.first}} {{draft.name.last}}
								</a>
								<button class="btn btn-default pull-right" ng-click="draftDelete(draft)">
									<i class="icon-remove"></i>
									Delete
								</button>
							</li>
						</ul>
					</p>
					<p ng-show="drafts.length == 0">
						You don't have any open drafts yet.
					</p>
			</div>
		</div>

		<section id="modal">
		<div class="row">
         <div class="col-md-6 show-grid">
		<div ng-controller="ModalDemoCtrl">
		    <script type="text/ng-template" id="myModalContent.html">
		    	<div class="modal-dialog" ng-class="{'modal-sm': size == 'sm', 'modal-lg': size == 'lg'}">
		    		<div class="modal-content" ng-transclude="">
        
   
		    	<div class="modal-body">
		        <form id="login" novalidate class="form-horizontal">
				<h3>Please enter your sign in information:</h3>

				<div class="form-group">
					<label>Email Address</label>
					<div class="control half">
						<input type="email" ng-model="user.email" placeholder="name@example.com" required class="form-control">
						
					</div>
				</div>
                <div class="form-group">
                    <label>Password</label>
                    <div class="control half">
                        <input type="password" ng-model="user.password"  required class="form-control">
                        
                    </div>
                </div>
				<div class="form-group">
					<label></label>
					<div class="control half">
					<input type="submit" class="btn btn-primary" value="Login" ng-click="submit();">
					</div>
				</div>
			</form>
		        
		        </div>
		         </div></div>
		    </script>

		</div>
		</div>
		</div>
	</section>
	</div>
</div>

