<div class="container">
	<div class="row">
		
		<div class="col-lg-12">
			<legend>Sign into Account</legend>
			<blockquote>Sign in to dev.college-retirement.com</blockquote>
			<form id="register" novalidate class="form-horizontal">
				<div class="form-group">
					<label>Email Address</label>
					<div class="control half">
						<input type="email" ng-model="user.email" placeholder="name@example.com" required class="form-control">
						
					</div>
				</div>
                <div class="form-group">
                    <label>Password</label>
                    <div class="control half">
                        <input type="password" ng-model="user.password"  required class="form-control">
                       
                    </div>
                </div>
				<div class="form-group actions">
					<input type="submit" class="btn btn-primary" value="Login" ng-click="submit();">
				</div>
			</form>
		</div>
	</div>
</div>